<h1>Hello, Rails!</h1>
<%= link_to 'All Articles - Index Article Controller Action by controller: "articles" ', controller: 'articles' %>
<br>
<%= link_to 'All Articles - Index Article Controller Action by articles_path', articles_path %>
<br>
<%= link_to 'New Article - New Article Controller Action by new_article_path', new_article_path %>
<br>
<%= link_to 'Show first article', article_path(id: 1) %>